<!--
  ApgTngPicoFlexPageMenuDeliverable
  @module [apg-tng]
  @author [APG] Angeli Paolo Giusto
  @version 0.9.7 [APG 2023/05/28]
-->

[: schema("/deliverables/schemas/ApgTngLinksArraySchema.json") :]

[: schema("/deliverables/examples/ApgTngLinksArrayExample.json") :]

[: arguments(["_links_"]) :]


[: for (const link of _links_) { :]
<div style="display: flex; flex-flow: row wrap; align-items: center;">
  <div>
    <h2 style="margin: 1rem;">
      [: if( link.href != "" ){ :]
      <a href="[: link.href :]" role="button">
        [: link.caption :]
      </a>
      [: } else { :]
      [: link.caption :]
      [: } :]
    </h2>
  </div>

  [: if( link.description != undefined ) { :]
  <div>
    <p style="margin: 1rem;">
      [: link.description :]
    </p>
  </div>
  [: } :]
</div>
[: } :]
