<div id="ApgWglGltfViewerContainer"></div>

<script>const gltfResource = "[: _resource_ :]"; </script>

<script type="module">
  import { ApgWglGltfViewer } from "/assets/ts/ApgWglGltfViewer.ts"
  import { ApgWglGltfViewerGui } from "/assets/ts/ApgWglGltfViewerGui.ts"

  window.viewer = new ApgWglGltfViewer(window, document, gltfResource);
  window.gui = new ApgWglGltfViewerGui('ApgWglGltfViewerGuiStarter', window.viewer);

  window.addEventListener('resize', (_e) => {
    window.viewer.resize();
  });

  function animate() {
    requestAnimationFrame(animate);
    window.viewer.render();
  }

  animate();



</script>



<dialog id="mainMenuDialog">
  <article style="min-width: 16rem">
    <h3 style="text-align: center;">Viewer menu</h3>
    <aside>
      <nav>
        <ul>
          <li>
            <button
              id="openSettingsButton"
              type="button"
              style="max-width: 8rem; display: inline;"
            >Settings</button>
          </li>
          <li>
            <button
              id="reloadEnvMapButton"
              type="button"
              style="max-width: 8rem; display: inline;"
            >Reload env</button>
          </li>
          <li>
            <button
              id="reloadGltfButton"
              type="button"
              style="max-width: 8rem; display: inline;"
            >Reload gltf</button>
          </li>
          <li>
            <button
              id="fullScreenButton"
              type="button"
              style="max-width: 8rem; display: inline;"
            >Fullscreen</button>
          </li>
          <li>
            <button
              id="screenShotButton"
              type="button"
              style="max-width: 8rem; display: inline;"
            >Screenshot</button>
          </li>
          <li>
            <button
              id="closeMainMenuButton"
              type="button"
              style="max-width: 8rem; display: inline;"
            >Close</button>
          </li>
        </ul>
      </nav>
    </aside>

    <a
      id="hiddenScreenShotAnchor"
      style="display: none;"
    >Screenshot Anchor</a>
  </article>
</dialog>


<dialog id="settingsDialog">
  <article>
    <h3 style="text-align: center;">Environment Settings</h3>

    <p>
      <input
        id="viewerSettingsUseMap"
        name="viewerSettingsUseMap"
        type="checkbox"
      />
      <label for="viewerSettingsUseMap">Use env map instead than lights</label><br>
    </p>

    <p>
      <button
        id="openLightsDialogButton"
        type="button"
      >Lights settings</button>
    </p>

    <p>
      <input
        id="viewerSettingsUseExr"
        name="viewerSettingsUseExr"
        type="checkbox"
      />
      <label for="viewerSettingsUseExr">Use exr maps instead than hdr maps</label><br>
    </p>

    <p>
      <input
        id="viewerSettingsUseFloor"
        name="viewerSettingsUseFloor"
        type="checkbox"
      />
      <label for="viewerSettingsUseFloor">Use a floor for shadows</label><br>
    </p>

    <p style="text-align: right;">
      <button
        id="closeSettingsDialogButton"
        type="button"
        style="max-width: 8rem; display: inline;"
      >Close</button>
    </p>

  </article>
</dialog>


<dialog id="lightsSettingsDialog">
  <article>

    <p>Light Settings</p>

    <fieldset>
      <legend>Ambient:</legend>
      <p>
        <label for="ambientLightColor">
          Color: <output
            id="ambientLightColorValue"
            for="ambientLightColor"
          ></output>
        </label>
        <input
          id="ambientLightColor"
          name="ambientLightColor"
          type="color"
        />

      </p>
      <p>
        <label for="ambientLightIntensity">
          Intensity: <output
            id="ambientLightIntensityValue"
            for="ambientLightIntensity"
          ></output>
        </label>
        <input
          id="ambientLightIntensity"
          name="ambientLightIntensity"
          type="range"
          min="0"
          max="1"
          step="0.05"
        />
      </p>

    </fieldset>
    <br>
    <fieldset>
      <legend>Directional:</legend>
      <p>
        <label for="directionalLightColor">
          Color: <output
            id="directionalLightColorValue"
            for="directionalLightColor"
          ></output>
        </label>
        <input
          id="directionalLightColor"
          name="directionalLightColor"
          type="color"
        />
      </p>

      <p>
        <label for="directionalLightIntensity">
          Intensity: <output
            id="directionalLightIntensityValue"
            for="directionalLightIntensity"
          ></output>
        </label>
        <input
          id="directionalLightIntensity"
          name="directionalLightIntensity"
          type="range"
          min="0"
          max="1"
          step="0.05"
        />
      </p>

      <p>
        <label for="directionalLightX">
          X position: <output
            id="directionalLightXValue"
            for="directionalLightX"
          ></output>

        </label>
        <input
          id="directionalLightX"
          name="directionalLightX"
          type="range"
          min="-10"
          max="10"
          step="0.1"
        />
      </p>

      <p>
        <label for="directionalLightY">
          Y position: <output
            id="directionalLightYValue"
            for="directionalLightY"
          ></output>
        </label>
        <input
          id="directionalLightY"
          name="directionalLightY"
          type="range"
          min="-10"
          max="10"
          step="0.1"
        />
      </p>

      <p>
        <label for="directionalLightZ">
          Z position: <output
            id="directionalLightZValue"
            for="directionalLightZ"
          ></output>
        </label>
        <input
          id="directionalLightZ"
          name="directionalLightZ"
          type="range"
          min="-10"
          max="10"
          step="0.1"
        />

      </p>
    </fieldset>

    <p style="text-align: right;">
      <button
        id="closeLightsDialogButton"
        type="button"
        style="max-width: 8rem; display: inline;"
      >
        Close
      </button>
    </p>
  </article>
</dialog>