<link
  href="/assets/css/ApgWglGltfViewer.css"
  rel="stylesheet"
  type="text/css"
>


<!-- Import maps polyfill -->
<!-- Remove this when import maps will be widely supported -->
<script
  async
  src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
></script>


<script>const gltfResource = "[: _resource_ :]"; </script>


<script type="module">
  import { ApgWglGltfViewer } from "/assets/ts/ApgWglGltfViewer.ts"


  const viewer = new ApgWglGltfViewer();
  window.ApgWglGltfViewer = viewer;

  viewer.init(window, document, gltfResource);

  animate();

  window.addEventListener('resize', onWindowResize);


  function onWindowResize() {

    viewer.resize();

  }

  function animate() {

    requestAnimationFrame(animate);

    if (viewer.controls) {
      viewer.controls.update(); // only required if controls.enableDamping = true, or if controls.autoRotate = true
    }

    viewer.render();

  }



</script>

<section id="ApgWglGltfViewer"></section>

<p style="text-align: right;">
  <button
    type="button"
    id="openEnvSettingsDialog"
    style="max-width: 8rem; display: inline;"
    onclick="openMenuDialog()"
  >Menu</button>
</p>


<dialog id="viewerMenuDialog">
  <div style="min-width: 16rem">
    <h3 style="text-align: center;">Viewer Commands</h3>
    <p>
      <button
        type="button"
        style="max-width: 8rem; display: inline;"
        onclick="openViewerSettingsDialog()"
      >Settings</button>
    </p>
    <p>
      <button
        type="button"
        style="max-width: 8rem; display: inline;"
        onclick="viewerReloadEnvMap()"
      >Reload env</button>
    </p>
    <p>
      <button
        type="button"
        style="max-width: 8rem; display: inline;"
        onclick="vieweReloadGltf()"
      >Reload gltf</button>
    </p>
    <p>
      <button
        type="button"
        style="max-width: 8rem; display: inline;"
        onclick="viewerScreenshot()"
      >Screenshot</button>
    </p>
    <p style="text-align: right;">
      <button
        type="button"
        style="max-width: 8rem; display: inline;"
        onclick="closeMenuDialog()"
      >Close</button>
    </p>
    <a
      id="viewerScreenShotAnchor"
      style="display: none;"
    >Screenshot Anchor</a>
  </div>
</dialog>

<script>
  const menuDialog = {
    element: document.getElementById("viewerMenuDialog"),
    screenShotAnchor: document.getElementById("viewerScreenShotAnchor"),
  }

  function openMenuDialog() {
    menuDialog.element.showModal();
  }

  function closeMenuDialog() {
    menuDialog.element.close();
  }

  function viewerReloadEnvMap() {
    const viewer = window.ApgWglGltfViewer;
    if (viewer.options.useExrInsteadThanHdr) {
      viewer.initializeExrEnvMap();
    } else {
      viewer.initializeHdrEnvMap();
    }
    viewer.render();
  }

  function vieweReloadGltf() {
    const gltfObject = window.ApgWglGltfViewer.scene.getObjectByName(window.ApgWglGltfViewer.gltfResource);
    window.ApgWglGltfViewer.scene.remove(gltfObject);
    window.ApgWglGltfViewer.loadGltf(window.ApgWglGltfViewer.gltfResource);
  }


  function viewerScreenshot() {
    const canvas = window.ApgWglGltfViewer.canvas;
    const fileName = "ApgWglGltfViewerScreenshot -" + canvas.width.toString() + "x" + canvas.height.toString() + ".png";
    window.ApgWglGltfViewer.render();
    canvas.toBlob((blob) => {
      const a = menuDialog.screenShotAnchor;
      const url = window.URL.createObjectURL(blob);
      a.href = url;
      a.download = fileName;
      a.click();
    });
    menuDialog.element.close();
  };

</script>


<dialog id="viewerSettingsDialog">
  <div style="min-width: 30rem">
    <h3 style="text-align: center;">Environment Settings</h3>

    <p>
      <input
        id="viewerSettingsUseMap"
        name="viewerSettingsUseMap"
        type="checkbox"
        onchange="envSettingsUseMapChange()"
      />
      <label for="viewerSettingsUseMap">Use env map instead than lights</label><br>
    </p>

    <p>
      <button
        id="openLightsDialogButton"
        type="button"
        onclick="openLightSettingsDialog()"
      >Lights settings</button>
    </p>

    <p>
      <input
        id="viewerSettingsUseExr"
        name="viewerSettingsUseExr"
        type="checkbox"
        onchange="envSettingsUseExrChange()"
      />
      <label for="viewerSettingsUseExr">Use exr maps instead than hdr maps</label><br>
    </p>

    <p>
      <input
        id="viewerSettingsUseFloor"
        name="viewerSettingsUseFloor"
        type="checkbox"
        onchange="envSettingsUseFloorChange()"
      />
      <label for="viewerSettingsUseFloor">Use a floor for shadows</label><br>
    </p>

    <p style="text-align: right;">
      <button
        type="button"
        style="max-width: 8rem; display: inline;"
        onclick="closeViewerSettingsDialog()"
      >Close</button>
    </p>

  </div>
</dialog>


<script>
  const settingsDialog = {
    element: document.getElementById("viewerSettingsDialog"),
    useEnvMapChkBox: document.getElementById("viewerSettingsUseMap"),
    lightsSettingsButton: document.getElementById("openLightsDialogButton"),
    useExrChkBox: document.getElementById("viewerSettingsUseExr"),
    useFloorChkBox: document.getElementById("viewerSettingsUseFloor"),
  }

  function openViewerSettingsDialog() {
    const viewer = window.ApgWglGltfViewer;
    settingsDialog.useEnvMapChkBox.checked = viewer.options.useEnvMapInsteadThanLights;
    settingsDialog.useExrChkBox.checked = viewer.options.useExrInsteadThanHdr;
    settingsDialog.lightsSettingsButton.disabled = viewer.options.useEnvMapInsteadThanLights;
    settingsDialog.element.showModal();
  }

  function closeViewerSettingsDialog() {
    settingsDialog.element.close();
  }

  function envSettingsUseMapChange() {
    const viewer = window.ApgWglGltfViewer;
    if (settingsDialog.useEnvMapChkBox.checked) {
      settingsDialog.lightsSettingsButton.disabled = true;
    }
    else {
      settingsDialog.lightsSettingsButton.disabled = false;
    }
    viewer.options.useEnvMapInsteadThanLights = settingsDialog.useEnvMapChkBox.checked;
    setupLights();
    viewer.render();
  }


  function setupLights() {
    const viewer = window.ApgWglGltfViewer;
    if (viewer.options.useEnvMapInsteadThanLights) {
      viewer.scene.environment = viewer.currEnv;
      viewer.ambientLight.visible = false;
      viewer.directionalLight.visible = false;
    } else {
      viewer.scene.environment = null;
      viewer.ambientLight.visible = true;
      viewer.directionalLight.visible = true;
    }
  }

  function envSettingsUseExrChange() {
    const viewer = window.ApgWglGltfViewer;
    viewer.options.useExrInsteadThanHdr = settingsDialog.useExrChkBox.checked;
  }

</script>


<dialog id="lightSettingsDialog">
  <div style="min-width: 20rem">

    <p>Light Settings</p>

    <fieldset>
      <legend>Ambient:</legend>
      <p>
        <label for="ambientLightColor">Color</label>
        <input
          id="ambientLightColor"
          name="ambientLightColor"
          type="color"
          oninput="ambientLightColorChange()"
        />
        <output
          id="ambientLightColorValue"
          for="ambientLightColor"
        ></output>
      </p>
      <p>
        <label for="ambientLightIntensity">intensity</label>
        <input
          id="ambientLightIntensity"
          name="ambientLightIntensity"
          type="range"
          min="0"
          max="1"
          step="0.05"
          oninput="ambientLightIntensityChange()"
        />
        <output
          id="ambientLightIntensityValue"
          for="ambientLightIntensity"
        ></output>
      </p>

    </fieldset>
    <br>
    <fieldset>
      <legend>Directional:</legend>
      <p>
        <label for="directionalLightColor">Color</label>
        <input
          id="directionalLightColor"
          name="directionalLightColor"
          type="color"
          oninput="directionalLightColorChange()"
        />
        <output
          id="directionalLightColorValue"
          for="directionalLightColor"
        ></output>
      </p>
      <p>
        <label for="directionalLightIntensity">Intensity</label>
        <input
          id="directionalLightIntensity"
          name="directionalLightIntensity"
          type="range"
          min="0"
          max="1"
          step="0.05"
          oninput="directionalLightIntensityChange()"
        />
        <output
          id="directionalLightIntensityValue"
          for="directionalLightIntensity"
        ></output>
      </p>



      <p>
        <label for="directionalLightX">X position</label>
        <input
          id="directionalLightX"
          name="directionalLightX"
          type="range"
          min="-10"
          max="10"
          step="0.1"
          oninput="directionalLightXChange()"
        />
        <output
          id="directionalLightXValue"
          for="directionalLightX"
        ></output>
      </p>

      <p>
        <label for="directionalLightY">Y position</label>
        <input
          id="directionalLightY"
          name="directionalLightY"
          type="range"
          min="-10"
          max="10"
          step="0.1"
          oninput="directionalLightYChange()"
        />
        <output
          id="directionalLightYValue"
          for="directionalLightY"
        ></output>
      </p>

      <p>
        <label for="directionalLightZ">Z position</label>
        <input
          id="directionalLightZ"
          name="directionalLightZ"
          type="range"
          min="-10"
          max="10"
          step="0.1"
          oninput="directionalLightZChange()"
        />
        <output
          id="directionalLightZValue"
          for="directionalLightZ"
        ></output>
      </p>
    </fieldset>

    <p style="text-align: right;">
      <button onclick="closeLightSettingsDialog()">Close</button>
    </p>
  </div>
</dialog>


<script>

  const lightControlsDialog = {
    element: document.getElementById("lightSettingsDialog"),

    ambientLightColor: document.getElementById("ambientLightColor"),
    ambientLightColorValue: document.getElementById("ambientLightColorValue"),
    ambientLightIntensity: document.getElementById("ambientLightIntensity"),
    ambientLightIntensityValue: document.getElementById("ambientLightIntensityValue"),

    directionalLightColor: document.getElementById("directionalLightColor"),
    directionalLightColorValue: document.getElementById("directionalLightColorValue"),
    directionalLightIntensity: document.getElementById("directionalLightIntensity"),
    directionalLightIntensityValue: document.getElementById("directionalLightIntensityValue"),

    directionalLightX: document.getElementById("directionalLightX"),
    directionalLightXValue: document.getElementById("directionalLightXValue"),
    directionalLightY: document.getElementById("directionalLightY"),
    directionalLightYValue: document.getElementById("directionalLightYValue"),
    directionalLightZ: document.getElementById("directionalLightZ"),
    directionalLightZValue: document.getElementById("directionalLightZValue"),
  }

  function openLightSettingsDialog() {
    const dialog = lightControlsDialog;

    dialog.ambientLightColor.value = "#" + window.ApgWglGltfViewer.ambientLight.color.getHexString();
    dialog.ambientLightColorValue.textContent = dialog.ambientLightColor.value;
    dialog.ambientLightIntensity.value = window.ApgWglGltfViewer.ambientLight.intensity;
    dialog.ambientLightIntensityValue.textContent = dialog.ambientLightIntensity.value;

    dialog.directionalLightColor.value = "#" + window.ApgWglGltfViewer.directionalLight.color.getHexString();
    dialog.directionalLightColorValue.textContent = dialog.directionalLightColor.value;
    dialog.directionalLightIntensity.value = window.ApgWglGltfViewer.directionalLight.intensity;
    dialog.directionalLightIntensityValue.textContent = dialog.directionalLightIntensity.value;

    dialog.directionalLightX.value = window.ApgWglGltfViewer.directionalLight.position.x;
    dialog.directionalLightXValue.textContent = dialog.directionalLightX.value;
    dialog.directionalLightY.value = window.ApgWglGltfViewer.directionalLight.position.y;
    dialog.directionalLightYValue.textContent = dialog.directionalLightY.value;
    dialog.directionalLightZ.value = window.ApgWglGltfViewer.directionalLight.position.z;
    dialog.directionalLightZValue.textContent = dialog.directionalLightZ.value;

    dialog.element.showModal();
  }

  function ambientLightIntensityChange() {
    window.ApgWglGltfViewer.ambientLight.intensity = parseFloat(lightControlsDialog.ambientLightIntensity.value);
    lightControlsDialog.ambientLightIntensityValue.textContent = window.ApgWglGltfViewer.ambientLight.intensity;
  }

  function ambientLightColorChange() {
    const hexStr = lightControlsDialog.ambientLightColor.value.replaceAll("#", "0x");
    const hexVal = parseInt(hexStr, 16);
    window.ApgWglGltfViewer.ambientLight.color.setHex(hexVal);
    lightControlsDialog.ambientLightColorValue.textContent = lightControlsDialog.ambientLightColor.value;
  }

  function directionalLightIntensityChange() {
    window.ApgWglGltfViewer.directionalLight.intensity = parseFloat(lightControlsDialog.directionalLightIntensity.value);
    lightControlsDialog.directionalLightIntensityValue.textContent = window.ApgWglGltfViewer.directionalLight.intensity;
  }

  function directionalLightColorChange() {
    const hexStr = lightControlsDialog.directionalLightColor.value.replaceAll("#", "0x");
    const hexVal = parseInt(hexStr, 16);
    window.ApgWglGltfViewer.directionalLight.color.setHex(hexVal);
    lightControlsDialog.directionalLightColorValue.textContent = lightControlsDialog.directionalLightColor.value;
  }

  function directionalLightXChange() {
    window.ApgWglGltfViewer.directionalLight.position.x = parseFloat(lightControlsDialog.directionalLightX.value);
    lightControlsDialog.directionalLightXValue.textContent = window.ApgWglGltfViewer.directionalLight.position.x;
  }
  function directionalLightYChange() {
    window.ApgWglGltfViewer.directionalLight.position.y = parseFloat(lightControlsDialog.directionalLightY.value);
    lightControlsDialog.directionalLightYValue.textContent = window.ApgWglGltfViewer.directionalLight.position.y;
  }
  function directionalLightZChange() {
    window.ApgWglGltfViewer.directionalLight.position.z = parseFloat(lightControlsDialog.directionalLightZ.value);
    lightControlsDialog.directionalLightZValue.textContent = window.ApgWglGltfViewer.directionalLight.position.z;
  }

  function closeLightSettingsDialog() {
    lightControlsDialog.element.close();
  }
</script>